<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         version="4.0"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                             http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">

    <servlet>
        <servlet-name>RestServlet</servlet-name>
        <servlet-class>org.rest.RestFWServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>RestServlet</servlet-name>
        <url-pattern>/api</url-pattern>
    </servlet-mapping>

</web-app>